*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.settings/
/.project
/.classpath
/target/
/output/
/bin/

/idea/
/.idea/
.idea/libraries/Maven__com_googlecode_efficient_java_matrix_library_core_0_26.xml
.idea/libraries/Maven__net_sf_geographiclib_GeographicLib_Java_1_44.xml
.idea/libraries/Maven__org_apache_commons_commons_math3_3_6_1.xml
.idea/libraries/Maven__org_geotools_gt_api_14_0.xml
.idea/libraries/Maven__org_geotools_gt_data_14_0.xml
.idea/libraries/Maven__org_geotools_gt_epsg_hsql_14_0.xml
.idea/libraries/Maven__org_geotools_gt_main_14_0.xml
.idea/libraries/Maven__org_geotools_gt_metadata_14_0.xml
.idea/libraries/Maven__org_geotools_gt_opengis_14_0.xml
.idea/libraries/Maven__org_geotools_gt_referencing_14_0.xml
.idea/libraries/Maven__org_geotools_gt_shapefile_14_0.xml
.idea/libraries/Maven__org_hsqldb_hsqldb_2_3_0.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/MATSim.iml
/.idea/workspace.xml
